### PREPROD DEPLOY VARS
replicas: 1

app_environment: {"GUNICORN_CMD_ARGS":"--workers 1 --certfile=/etc/pki/tls/certs/generated/tls.crt --keyfile=/etc/pki/tls/certs/generated/tls.key --ca-certs /etc/pki/tls/certs/ca-bundle.crt"}

MIRO_SA_ID: "3074457353710057935"

ORG_ID: "3458764577187960805"

VAULT_CFG: {"vault-agent-config.hcl": "pid_file = \"/vaultd/.pidfile\"\nauto_auth {\n    method {\n        type = \"approle\"\n        config = {\n            role_id_file_path =  \"/vaultd/.role-id\"\n            secret_id_file_path = \"/vaultd/.jws-token\"\n            remove_secret_id_file_after_reading = false\n        }\n    }\n    sink \"file\" {\n        config = {\n            path = \"/vaultd/.vault-token\"\n        }\n    }\n}\ntemplate {\n    source = \"/vaultd/config/MIRO_REST_TOKEN.ctmpl\"\n    destination = \"/vaultd/secrets/MIRO_REST_TOKEN\"\n    }\ntemplate {\n    source = \"/vaultd/config/rhit-ca.crt.ctmpl\"\n    destination = \"/vaultd/secrets/rhit-ca.crt\"\n    }\n", "MIRO_REST_TOKEN.ctmpl": "{{- with secret \"apps/data/CI-Automation/ges-automation/miro\" }}{{ .Data.data.rest.preprod.token }}{{ end }}", "rhit-ca.crt.ctmpl": "{{- with secret \"apps/data/CI-Automation/file/rhit-ca-crt\" }}{{ .Data.data.content }}{{ end }}"}